<h2>{{ appSettings.title }} </h2>
Filter:
<input type="text" ng-model="customerFilter.name" />
<br/>
<table class="striped">
    <tr>
        <td ng-click="doSort('name')">Name</td>
        <td ng-click="doSort('city')">City</td>
        <td ng-click="doSort('orderTotal')">Order Total</td>
        <td ng-click="doSort('joined')">Joined</td>
        <td>View</td>
        <td>Remove</td>
    </tr>
    <tr ng-repeat="customer in customers | filter: customerFilter">
        <td>{{ customer.name }}</td>
        <td>{{ customer.city }}</td>
        <td>{{ customer.orderTotal | currency }}</td>
        <td>{{ customer.joined | date }}</td>
        <td>
            <a href="#!/records/{{customer.id}}">view Orders</a>
        </td>
        <td>
            <div class="delete" ng-click="deleteCustomer(customer.id)">
                <i class="material-icons">close</i>
            </div>
        </td>
    </tr>
</table>
<br/>
<span>Total Customers: {{ customers.length }}</span>
<footer>{{ appSettings.version }}</footer>